<div class="modal" [style.background-color]="corModal ? corModal : corModalPadrao">
  <ng-content select="h1"></ng-content>
  <ng-content select="input"></ng-content>
  <ng-content select="button"></ng-content>
  <ng-content select="p"></ng-content>
  <ng-content select="[botao]"></ng-content>
  <ng-content select="[botao2]"></ng-content>
</div>

<div class="modal2">
  <ng-content select="[modal]"></ng-content>
  <ng-content select="button"></ng-content>
  <ng-content select="img"></ng-content>
  <ng-content select="input"></ng-content>
</div>





