<button (click)="modal()">Clique Aqui!</button>
<br>
<input type="text" [(ngModel)]="nomePessoa" placeholder="Informe seu nome aí!" id="inputNome">

<div class="fundo">
    <div abreModal *ngIf="abreModal">
        <app-modal [corModal]="corModal.value">
            <h1>{{titulo}}{{nomePessoa}}</h1>
            <button (click)="modal2()" id="botaoModal2">Clique Aqui!</button>
            <input type="text" #corModal placeholder="Exemplo: red" (change)="0"/>
            <div *ngIf="abreModal2" modal class="modal2">
                <app-modal>
                    <input id="inpStatus" type="number" [(ngModel)]="status">
                    <button id="consultarBtn" (click)="filtrar()">Consultar</button>
                    <img id="imgAPI" *ngIf="linkImg" [src]="linkImg">
                    <button (click)="modal2()" botao2 id="botaoFechar">Fechar</button>
                </app-modal>
            </div>
            <button (click)="modal()" botao id="botaoFechar1">Fechar</button>
        </app-modal>
    </div>
</div>
